//@import "../Variables/variables.scss";
@import "../Variables/CssVariables.css";

.cards-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  padding: 3rem;
  gap: 50px;
  min-height: 100vh;
  overflow: hidden;

  .movie-cards {
    font-family: "Montserrat", sans-serif;
    border: 1px solid;
    max-width: 600px;
    max-height: 300px;
    display: flex;
    background: var(--cards-color);
    border-radius: 20px;
    box-shadow: 0 15px 35px rgb(0, 0, 0, 25);
    cursor: pointer;

    .movie-poster {
      // position: relative;
      width: 400px;
      // overflow: hidden;
    }
    img {
      width: 100%;
      height: 100%;
      background-size: cover;
      object-fit: cover;
      overflow: auto;
    }

    .card-bodies {
      max-width: 400px;
      padding: 1rem;
      color: rgb(46, 46, 42);
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      font-size: 16px;
      gap: 20px;
    }

    .movie-title {
      overflow: hidden;
    }
    .movie-title:hover {
      color: var(--basic-color);
    }
  }

  .no-results-label {
    color: var(--basic-color);
  }

  .movie-cards:hover {
    transform: scale(1.2);
    z-index: 2;
  }
}
