//@import "../Variables/variables.scss";
@import "../Variables/CssVariables.css";

.movie-card-container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.movie-card {
  font-family: "Montserrat", sans-serif;
  border: 1px solid;
  margin-bottom: 130px;
  max-width: 850px;
  min-height: 400px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: var(--main-card-color);
  border-radius: 20px;
  box-shadow: 0 15px 35px rgb(0, 0, 0, 25);

  .movie-poster {
    min-width: 300px;
    min-height: 400px;
    position: relative;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .card-body {
    max-width: 500px;
    padding: 1rem;
    color: rgb(234, 204, 231);
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    gap: 20px;

    h3,
    h4 {
      font-size: 16px;
    }
  }

  .reviews {
    display: flex;
    flex-wrap: wrap;
    align-items: start;
    gap: 30px;
  }

  a {
    color: var(--basic-color);
    font-weight: 600;
    text-decoration: none;

    &:hover {
      color: var(--table-titles-hover);
    }
  }
}

.other-movie-ratings-div {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
}
.addMovie-button {
  width: 170px;
  height: 40px;
  border-radius: 6px;
}
