@import "../Variables/CssVariables.css";


// .search-area{
// border: none;
// padding-top: 0;
// margin: 0;

//   }
//   .form-control {
//     height: 40px;

//   }
//   .btn {
//     display: flex;
//     padding: 8px;
//     margin: auto 0;
//     bottom: 3px;


//     .search-icon {
//       margin: 0;
//       width: 20px;
//       height: 20px;
//       color: var(--basic-color);
//       background-color: none;
//       padding: 0;
//       bottom: 5px;
//     }
//   }



//////////////////////////////////

.switch {
  height: 20px;
  width: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  background-color: var(--switcher);
  border-radius: 50px;
  padding: 5px;
  position: relative;
  cursor: pointer;
}

.orangeSwitch {
  background-color: #8b66c7;
}

.switch-radios {
   height: 56px;
   width: 56px;
  display: flex;
  justify-content: space-between;

}

input[type="radio"]:first-of-type {
  right: 22px;
}

input[type="radio"]:nth-of-type(2) {
  right: -8px;
}

input[type="radio"]:last-of-type {
  right: -35px;
}

.ball {
  background: var(--basic-color);
  height: 16px;
  width: 16px;
  border-radius: 50%;
  position: absolute;
  left: 3px;
  top: 2.5px;
  transition: all 0.5s ease;
}

input[type="radio"] {
  cursor: pointer;
   opacity: 0;
}
