@import "../Variables/CssVariables.css";

.library-header {
  text-align: center;
  color: var(--basic-color);
  font-family: "Limelight";
  margin-top: 20px;
  margin-bottom: 30px;
}

.input-div {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.directors {
  margin-left: 50px;
}

.table-container {
  overflow-x: auto;
  overflow-y: hidden;
}
.tableMobile {
  width: 50%;
}

table {
  text-align: center;
  min-width: 1100px;
  color: var(--table-text-color);
  margin: 0 auto;
  border-collapse: separate;
  border-spacing: 0 8px;
}

.thead {
  height: 60px;
  border: 1px solid;
  background-color: var(--table-background-color);
  box-shadow: 0 5px 35px rgb(0, 0, 0, 15);
}
.theadMobile {
  height: 60px;
  border: 1px solid;
  background-color: var(--table-background-color);
  box-shadow: 0 5px 35px rgb(0, 0, 0, 15);
}

.trows {
  height: 60px;
  background-color: var(--table-background-color);
  border: 1px solid;
  margin-top: 10px;
  box-shadow: 0 15px 35px rgb(0, 0, 0, 15);
  &:hover {
    transform: translateY(-5px);
  }
}

.button-page {
  width: 40px;
  height: 40px;
  border: 1px solid rgb(72, 71, 66);
  border-radius: 5px;
  margin-left: 3px;
  color: var(--basic-color);
  background-color: rgb(47, 41, 41);
  box-shadow: 0 15px 35px rgb(0, 0, 0, 15);
  cursor: pointer;
}

.active {
  color: rgb(18, 194, 91);
  background-color: var(--basic-color);
}

.watched {
  color: var(--watched-pin-color);
}

.not-watched {
  color: var(--unwatched-pin-color);
}

.movie-title-td:hover {
  cursor: pointer;
  // color: var(--table-titles-hover);
}

.pages {
  text-align: center;
  min-width: 500px;
  margin: 20px auto 60px;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 600px) {
  .watched-td {
    width: 5%;
  }
}
